# Preprocessing
- Drop redundancies
- Handing missing values
- Encoding

In [49]:
import pandas as pd
import numpy as np

In [50]:
import pandas as pd
dataset = pd.read_excel('pharma.xlsx')

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691821 entries, 0 to 691820
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Mã đơn hàng    691821 non-null  object
 1   Mã KH          691821 non-null  object
 2   Tên KH         691750 non-null  object
 3   Tỉnh           679876 non-null  object
 4   Quận/huyện     640051 non-null  object
 5   Xã/phường      670666 non-null  object
 6   Ngày           691821 non-null  datetime64[ns]
 7   Tên nhân viên  691821 non-null  object
 8   Chi nhánh      691821 non-null  object
 9   Mã thuốc       691821 non-null  object
 10  Tên thuốc      691821 non-null  object
 11  Đơn vị         691821 non-null  object
 12  Số lượng       691821 non-null  int64
 13  Đơn giá        691821 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 73.9+ MB

In [52]:
dataset.head()

,Mã đơn hàng,Mã KH,Tên KH,Tỉnh,Quận/huyện,Xã/phường,Ngày,Tên nhân viên,Chi nhánh,Mã thuốc,Tên thuốc,Đơn vị,Số lượng,Đơn giá
0,0c705e68-cbff-4c25-b860-881c51d7b291,N00146,Nhà thuốc Bệnh viện Nam Thăng Long,Thành phố Hà Nội,Quận Bắc Từ Liêm,Phường Xuân Đỉnh,2018-10-04,Phạm Thu Trang,Chi nhánh Hà Nội,G00817,Golistin-enema for children,LO,50,26667.0
1,0c705e68-cbff-4c25-b860-881c51d7b291,N00146,Nhà thuốc Bệnh viện Nam Thăng Long,Thành phố Hà Nội,Quận Bắc Từ Liêm,Phường Xuân Đỉnh,2018-10-04,Phạm Thu Trang,Chi nhánh Hà Nội,G00821,Golistin-enema,LO,30,35238.0
2,0c705e68-cbff-4c25-b860-881c51d7b291,N00146,Nhà thuốc Bệnh viện Nam Thăng Long,Thành phố Hà Nội,Quận Bắc Từ Liêm,Phường Xuân Đỉnh,2018-10-04,Phạm Thu Trang,Chi nhánh Hà Nội,P01191,Phenhalal,ONG,200,3950.0
3,196999A6-37EE-405C-8B9E-33E48A0455DC,P00641,Phòng khám đa khoa Hoàng Dũng - Quảng Trị,Tỉnh Quảng Trị,Thành phố Đông Hà,Phường 1,2018-10-04,Lưu Hữu Công,Chi nhánh Đà Nẵng,Z00209,Zentokid - H10,ONG,400,6500.0
4,5a1d6b35-5755-44d7-ad79-14f60dd4f0ef,B00670,Bệnh Viện Đa Khoa Huyện Tuyên Hóa ( Nhà Thuốc),Tỉnh Quảng Bình,NaN,Thị Trấn Đồng Lê -Huyện Tuyên Hoá -Tỉnh Quảng ...,2018-10-04,Ngô Minh Anh Văn,Chi nhánh Đà Nẵng,H00852,Hemotocin,LO,10,235700.0

In [53]:
columns = dataset.columns
columns

Index(['Mã đơn hàng', 'Mã KH', 'Tên KH', 'Tỉnh', 'Quận/huyện', 'Xã/phường',
       'Ngày ', 'Tên nhân viên', 'Chi nhánh', 'Mã thuốc', 'Tên thuốc',
       'Đơn vị', 'Số lượng', 'Đơn giá'],
      dtype='object')

In [54]:
number_unique = {}
for column in columns:
    number_unique[column] = dataset[column].nunique()
    print(f'{column}: {dataset[column].nunique()}')

Mã đơn hàng: 338569
Mã KH: 61799
Tên KH: 49177
Tỉnh: 3800
Quận/huyện: 3707
Xã/phường: 12389
Ngày : 1351
Tên nhân viên: 1690
Chi nhánh: 4
Mã thuốc: 336
Tên thuốc: 449
Đơn vị: 10
Số lượng: 1344
Đơn giá: 759

In [55]:
top = dataset['Tỉnh'].value_counts()
top.head(20)

Thành phố Hà Nội         76568
Tỉnh Thanh Hóa           34058
Tỉnh Nghệ An             30783
Tỉnh Thái Bình           29895
Thành phố Hồ Chí Minh    28086
Tỉnh Thái Nguyên         27307
Thành phố Hải Phòng      26176
Tỉnh Nam Định            24963
Thành phố Đà Nẵng        20017
Tỉnh Quảng Ninh          17997
Tỉnh Hải Dương           16911
Tỉnh Tuyên Quang         16837
Tỉnh Vĩnh Phúc           16527
Tỉnh Bắc Ninh            16123
Tỉnh Hưng Yên            15117
Tỉnh Hà Nam              13976
Tỉnh Ninh Bình           13364
Tỉnh Bắc Giang           13168
Tỉnh Quảng Trị           12569
Tỉnh Phú Thọ             10934
Name: Tỉnh, dtype: int64

## Drop redundancies
- Drop columns with vast categories (numbers of unique)

### Case 1
- mã đơn hàng, mã kh, tên kh, tên nhân viên: drop vì
    - nunique lớn (nhiều thể loại)
    - 
- Dơn giá không liên quan vì = số lượng x giá (giá có thể thay đổi nhưng drop để đơn giản trong TH này)
- Tên thuốc dễ nhập sai -> giữ mã thuốc, bỏ tên thuốc, đơn vị
- địa điểm: chi nhánh, Tỉnh, quận/huyện, xã/phường -> chọn chi nhánh (drop còn lại)

In [56]:
drop_list = ['Mã đơn hàng', 'Mã KH', 'Tên KH', 'Xã/phường', 'Quận/huyện', 'Tên nhân viên', 'Tên thuốc', 'Đơn vị', 'Đơn giá', 'Chi nhánh' ]
df1 = dataset.drop(drop_list, axis=1)
df1.head()

               Tỉnh      Ngày  Mã thuốc  Số lượng
0  Thành phố Hà Nội 2018-10-04   G00817        50
1  Thành phố Hà Nội 2018-10-04   G00821        30
2  Thành phố Hà Nội 2018-10-04   P01191       200
3    Tỉnh Quảng Trị 2018-10-04   Z00209       400
4   Tỉnh Quảng Bình 2018-10-04   H00852        10

In [57]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691821 entries, 0 to 691820
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Tỉnh      679876 non-null  object
 1   Ngày      691821 non-null  datetime64[ns]
 2   Mã thuốc  691821 non-null  object
 3   Số lượng  691821 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 21.1+ MB

In [58]:
# Step 1: Get the value counts
value_counts = df1['Tỉnh'].value_counts()
value_counts.head(7)

Thành phố Hà Nội         76568
Tỉnh Thanh Hóa           34058
Tỉnh Nghệ An             30783
Tỉnh Thái Bình           29895
Thành phố Hồ Chí Minh    28086
Tỉnh Thái Nguyên         27307
Thành phố Hải Phòng      26176
Name: Tỉnh, dtype: int64

### Choose top 7 popular city:
- Hà Nội, Thanh Hóa, Nghệ An, Thái Bình, Tp Hồ Chí Minh, Thái Nguyên, Thành phố Hải Phòng

In [61]:
# Step 2: Get the top 7 values
top_values = value_counts.nlargest(7).index.tolist()

# Step 3: Create a boolean mask
mask = df1['Tỉnh'].isin(top_values)

# Step 4: Select the rows that contain the top 7 values
df_top7 = df1.loc[mask]
df_top7

                    Tỉnh      Ngày  Mã thuốc  Số lượng
0       Thành phố Hà Nội 2018-10-04   G00817        50
1       Thành phố Hà Nội 2018-10-04   G00821        30
2       Thành phố Hà Nội 2018-10-04   P01191       200
14      Thành phố Hà Nội 2018-10-10   G00898         5
15        Tỉnh Thanh Hóa 2018-10-13   D01057      4000
...                  ...        ...      ...       ...
691816  Thành phố Hà Nội 2022-07-11   L01021         1
691817  Thành phố Hà Nội 2022-07-11   N01080         2
691818  Thành phố Hà Nội 2022-07-11   N01084         2
691819  Thành phố Hà Nội 2022-07-11   P01364        35
691820  Thành phố Hà Nội 2022-07-11   Z00209        10

[252873 rows x 4 columns]

In [62]:
df_top7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252873 entries, 0 to 691820
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Tỉnh      252873 non-null  object
 1   Ngày      252873 non-null  datetime64[ns]
 2   Mã thuốc  252873 non-null  object
 3   Số lượng  252873 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 9.6+ MB

### Select top 8 popular drugs
- Step 1: Choose top 50 popular
- Step 2: Group by ATC code
- Step 3: Finish

In [64]:
drug_50 = df_top7['Mã thuốc'].value_counts()
drug_50.head(50)

N01080    9074
M01225    8975
Z00200    8554
P01481    8130
M01090    7826
G00821    7663
P01364    6935
P01146    6663
G00898    6594
Z00209    5494
F00550    4840
Z00226    4767
B01373    4433
C01842    4353
G00869    4270
L01012    3770
B01166    3738
Z00197    3195
A01414    3164
N01041    2902
D01304    2886
H01921    2761
R00365    2759
T01864    2580
P01478    2544
N01084    2447
D01375    2399
D01349    2341
A01303    2156
T01855    2045
S01447    2027
P01299    1967
L00993    1819
T01701    1777
N01165    1687
L00854    1667
N00845    1625
D01183    1622
L00801    1615
D01355    1593
Z00219    1540
P01336    1468
D01063    1435
M01656    1400
H00852    1382
G00951    1317
F00482    1316
M01076    1315
A01338    1311
D01519    1264
Name: Mã thuốc, dtype: int64